@import "colors.css";

window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid @outline;

  background-color: @surface;
}

label {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11pt;

  color: @on_surface;
}

image {
  color: @primary;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @primary;
}
