@define-color background-color #282a36;
@define-color border-color     #44475a;

@define-color label            #f8f8f2;
@define-color image            #50fa7b;

@define-color progress         #8be9fd;
