@define-color background-color #24273a;
@define-color border-color     #5b6078;

@define-color label            #cad3f5;
@define-color image            #a6da95;

@define-color progress         #8bd5ca;
