@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: 500;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

#waybar {
  background-color: @bg;
}

#waybar button {
  padding: 4px 10px;
  border-radius: 0;
}

#tray {
  padding: 0 6px;
  background: transparent;
}

.tray-group-item {
  padding: 4px 8px;
  color: @fg_dim;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

#window {
  padding: 4px 10px;
  color: @fg_dim;
}

window#waybar.empty #window {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

#workspaces button {
  all: initial;
  padding: 4px 10px;
  font-size: 13px;
  font-family: "JetBrainsMono Nerd Font Propo";
}

#workspaces button.inactive {
  color: @fg_dim;
}

#workspaces button.active {
  color: @fg;
  border-bottom: 2px solid @fg;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button.empty {
  opacity: 0.3;
}

#pulseaudio,
#cpu,
#memory,
#disk,
#clock {
  padding: 4px 8px;
  color: @fg;
}

#custom-seperator {
  margin: 0 -2px;
  color: @fg;
  opacity: 0.2;
}
