@define-color foreground        #c6d0f5;
@define-color background        #303446;

@define-color color0            #303446;
@define-color color1            #414559;
@define-color color2            #51576d;
@define-color color3            #626880;
@define-color color4            #8caaee;

@define-color color5            #626880;
@define-color color6            #8caaee;
@define-color color7            #ca9ee6;
@define-color color8            #51576d;

@define-color accent             #8caaee;
@define-color accent_active      #ca9ee6;
@define-color urgent             #e78284;
