@define-color bg        #282828;
@define-color bg_alt    #3c3836;
@define-color bg_module #504945;
@define-color bg_hover  #665c54;
@define-color bg_active #83a598;

@define-color fg        #ebdbb2;
@define-color fg_dim    #928374;
@define-color fg_muted  #504945;

@define-color red       #fb4934;
@define-color green     #b8bb26;
@define-color blue      #83a598;
@define-color nord_blue #83a598;
@define-color bisque    #fabd2f;
@define-color teal      #8ec07c;
@define-color yellow    #fabd2f;
@define-color orange    #fe8019;
@define-color purple    #d3869b;
