@define-color background-color #2e3440;
@define-color border-color     #4c566a;

@define-color label            #d8dee9;
@define-color image            #a3be8c;

@define-color progress         #88c0d0;
