@define-color background-color #1e1e2e;
@define-color border-color     #585b70;

@define-color label            #cdd6f4;
@define-color image            #a6e3a1;

@define-color progress         #94e2d5;
