@define-color background-color #303446;
@define-color border-color     #626880;

@define-color label            #c6d0f5;
@define-color image            #a6d189;

@define-color progress         #81c8be;
