@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: 600;
  font-size: 15px;
}

#waybar {
  background-color: transparent;
  transition: background-color 0.4s ease;
}

#waybar button:hover {
  background-color: alpha(@fg, 0.04);
  border-radius: 8px;
}

.tray-group-item {
  padding: 0 6px;
  color: @fg_dim;
}

.tray-group-item:hover {
  color: @fg;
}

#tray {
  padding-left: 14px;
  padding-right: 6px;
  background: transparent;
}

.modules-left {
  margin-left: 16px;
}

.modules-right {
  margin-right: 16px;
  background-color: alpha(@bg, 0.75);
  border: 2px solid alpha(@fg_muted, 0.6);
  padding: 6px;
  border-radius: 12px;
}

#window {
  color: @bisque;
  background-color: alpha(@bg, 0.75);
  border: 2px solid alpha(@fg_muted, 0.6);
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 12px;
}

#workspaces {
  background-color: alpha(@bg, 0.75);
  border: 2px solid alpha(@fg_muted, 0.6);
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 12px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 2px;
  min-width: 9px;
  color: @fg;
  transition: color 0.25s ease;
}

#workspaces button:nth-child(1) { color: @red; }
#workspaces button:nth-child(2) { color: @green; }
#workspaces button:nth-child(3) { color: @blue; }
#workspaces button:nth-child(4) { color: @nord_blue; }
#workspaces button:nth-child(5) { color: @teal; }
#workspaces button:nth-child(6) { color: @yellow; }
#workspaces button:nth-child(7) { color: @orange; }
#workspaces button:nth-child(8) { color: @purple; }
#workspaces button:nth-child(9) { color: @bisque; }


#workspaces button.active {
  color: @yellow;
}

#workspaces button:hover {
color: @blue;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button.empty {
  opacity: 0.45;
}

#mpris {
  color: @purple;
  background-color: alpha(@bg, 0.75);
  border: 2px solid alpha(@fg_muted, 0.6);
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 12px;
}

#mpris.paused {
  color: @fg_dim;
}

#custom-logo {
  color: @teal;
  background-color: alpha(@bg, 0.75);
  border: 2px solid alpha(@fg_muted, 0.6);
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 12px;
}

#custom-cava {
  color: @purple;
  opacity: 0.75;
}

#clock {
  padding-left: 6px;
  color: @yellow;
}

#custom-seperator {
  margin: 0 -4px;
  color: @fg_muted;
  opacity: 0.3;
}

#custom-expand-icon {
  padding: 0 6px;
  color: @nord_blue;
}

#custom-brightness {
  padding: 0 6px;
  color: @yellow;
}

#custom-nightlight {
  padding: 0 6px;
  color: @orange;
}

#power-profiles-daemon {
  padding: 0 6px;
  color: @green;
}

#power-profiles-daemon.performance {
  color: @red;
}

#power-profiles-daemon.power-saver {
  color: @teal;
}

#network {
  padding: 0 6px;
  color: @blue;
}

#network.disconnected {
  color: @red;
}

#bluetooth {
  padding: 0 6px;
  color: @teal;
}

#bluetooth.disabled {
  color: @fg_dim;
}

#custom-volume {
  padding: 0 6px;
  color: @orange;
}

#custom-volume.muted {
  color: @fg_dim;
}

#custom-swaync {
  padding-left: 6px;
  padding-right: 14px;
  color: @nord_blue;
}

#custom-swaync.dnd {
  color: @purple;
}
