@import "../themes/current/waybar/colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: 600;
  font-size: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

#waybar {
  background-color: alpha(@bg, 0.75);
  border-bottom: 1px solid @fg;
  min-height: 34px;
  transition: background-color 0.4s ease;
}

#waybar button {
  padding: 4px 12px;
  border-radius: 8px;
}

#waybar button:hover {
  background-color: alpha(@fg, 0.04);
}

.tray-group-item {
  padding: 4px 8px;
  color: @fg_dim;
}

.tray-group-item:hover {
  color: @fg;
}

#tray {
  padding: 0 6px;
  background: transparent;
}

.modules-left {
  margin-left: 16px;
}

.modules-right {
  margin-right: 16px;
}

#window {
  padding: 4px 12px;
  color: @bisque;
}

window#waybar.empty #window {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

#workspaces button {
  all: initial;
  padding: 4px 12px;
  transition: color 0.25s ease;
}

#workspaces button.inactive {
  color: @fg_dim;
}

#workspaces button.active {
  color: @green;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button.empty {
  opacity: 0.45;
}

#mpris,
#bluetooth,
#custom-logo,
#custom-cava,
#clock,
#custom-seperator,
#custom-expand-icon,
#custom-brightness,
#custom-nightlight,
#power-profiles-daemon,
#network,
#bluetooth,
#custom-volume,
#custom-swaync {
  padding: 4px 8px;
}

#mpris { color: @purple; }
#mpris.paused { color: @nord_blue; }

#custom-logo { color: @teal; }

#custom-cava {
  color: @purple;
  opacity: 0.75;
}

#clock { color: @yellow; }

#custom-seperator {
  margin: 0 -4px;
  color: @fg;
  opacity: 0.3;
}

#custom-expand-icon { color: @nord_blue; }
#custom-brightness { color: @yellow; }
#custom-nightlight { color: @orange; }

#power-profiles-daemon { color: @green; }
#power-profiles-daemon.performance { color: @red; }
#power-profiles-daemon.power-saver { color: @teal; }

#network { color: @green; }
#network.disconnected { color: @red; }

#bluetooth { color: @teal; }
#bluetooth.disabled { color: @fg_dim; }

#custom-volume { color: @teal; }
#custom-volume.muted { color: @fg_muted; }

#custom-swaync {
  padding-right: 14px;
  color: @nord_blue;
}

#custom-swaync.dnd {
  color: @purple;
}
