@define-color bg        #24283b;
@define-color bg_alt    #292e42;
@define-color bg_module #414868;
@define-color bg_hover  #565f89;
@define-color bg_active #7aa2f7;

@define-color fg        #c0caf5;
@define-color fg_dim    #9aa5ce;
@define-color fg_muted  #565f89;

@define-color red       #f7768e;
@define-color green     #9ece6a;
@define-color blue      #7aa2f7;
@define-color nord_blue #7aa2f7;
@define-color teal      #7dcfff;
@define-color yellow    #e0af68;
@define-color orange    #ff9e64;
@define-color purple    #bb9af7;
