@define-color foreground        #c0caf5;
@define-color background        #24283b;

@define-color color0            #24283b;
@define-color color1            #292e42;
@define-color color2            #414868;
@define-color color3            #565f89;
@define-color color4            #7aa2f7;

@define-color color5            #9aa5ce;
@define-color color6            #7dcfff;
@define-color color7            #bb9af7;
@define-color color8            #414868;

@define-color accent             #7aa2f7;
@define-color accent_active      #bb9af7;
@define-color urgent             #f7768e;
