@define-color bg        #1e1e2e;
@define-color bg_alt    #313244;
@define-color bg_module #45475a;
@define-color bg_hover  #585b70;
@define-color bg_active #89b4fa;

@define-color fg        #cdd6f4;
@define-color fg_dim    #585b70;
@define-color fg_muted  #45475a;

@define-color red       #f38ba8;
@define-color green     #a6e3a1;
@define-color blue      #89b4fa;
@define-color nord_blue #89b4fa;
@define-color bisque    #f9e2af;
@define-color teal      #94e2d5;
@define-color yellow    #f9e2af;
@define-color orange    #fab387;
@define-color purple    #cba6f7;
