@define-color foreground        #d8dee9;
@define-color background        #2e3440;

@define-color color0            #2e3440;
@define-color color1            #3b4252;
@define-color color2            #434c5e;
@define-color color3            #4c566a;
@define-color color4            #5e81ac;

@define-color color5            #4c566a;
@define-color color6            #81a1c1;
@define-color color7            #b48ead;
@define-color color8            #434c5e;

@define-color accent             #81a1c1;
@define-color accent_active      #b48ead;
@define-color urgent             #bf616a;
