@define-color foreground        #ebdbb2;
@define-color background        #282828;

@define-color color0            #282828;
@define-color color1            #3c3836;
@define-color color2            #504945;
@define-color color3            #665c54;
@define-color color4            #83a598;

@define-color color5            #928374;
@define-color color6            #83a598;
@define-color color7            #d3869b;
@define-color color8            #504945;

@define-color accent             #83a598;
@define-color accent_active      #d3869b;
@define-color urgent             #fb4934;
