@import "colors.css";

* {
  all: unset;
}

* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 16px;
  color: @text;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: @base;
  padding: 12px;
  border: 1px solid @border;
}

.search-container {
  background: @base;
  padding: 8px;
}

.input placeholder {
  opacity: 0.4;
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

child:selected .item-box * {
  color: @selected-text;
}

.item-box {
  padding-left: 10px;
}

.item-text-box {
  all: unset;
  padding: 10px 0;
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 10px;
  -gtk-icon-transform: scale(0.9);
}

.keybind-hints {
  background: @background;
  padding: 8px;
  margin-top: 4px;
}
