@define-color bg        #303446;
@define-color bg_alt    #414559;
@define-color bg_module #51576d;
@define-color bg_hover  #626880;
@define-color bg_active #8caaee;

@define-color fg        #c6d0f5;
@define-color fg_dim    #a5adce;
@define-color fg_muted  #626880;

@define-color red       #e78284;
@define-color green     #a6d189;
@define-color blue      #8caaee;
@define-color nord_blue #8caaee;
@define-color teal      #81c8be;
@define-color yellow    #e5c890;
@define-color orange    #ef9f76;
@define-color purple    #ca9ee6;
