@define-color foreground        #f8f8f2;
@define-color background        #282a36;

@define-color color0            #282a36;
@define-color color1            #44475a;
@define-color color2            #44475a;
@define-color color3            #6272a4;
@define-color color4            #bd93f9;

@define-color color5            #6272a4;
@define-color color6            #8be9fd;
@define-color color7            #ff79c6;
@define-color color8            #44475a;

@define-color accent             #bd93f9;
@define-color accent_active      #ff79c6;
@define-color urgent             #ff5555;
