@define-color background-color #282828;
@define-color border-color     #504945;

@define-color label            #ebdbb2;
@define-color image            #b8bb26;

@define-color progress         #83a598;
