@define-color background-color #f2f2ee;
@define-color border-color     #d0d0cc;

@define-color label            #111111;
@define-color image            #444444;

@define-color progress         #444444;
