@define-color background-color #24283b;
@define-color border-color     #414868;

@define-color label            #c0caf5;
@define-color image            #9ece6a;

@define-color progress         #7dcfff;
