@define-color foreground        #cad3f5;
@define-color background        #24273a;

@define-color color0            #24273a;
@define-color color1            #363a4f;
@define-color color2            #494d64;
@define-color color3            #5b6078;
@define-color color4            #8aadf4;

@define-color color5            #5b6078;
@define-color color6            #8aadf4;
@define-color color7            #c6a0f6;
@define-color color8            #494d64;

@define-color accent             #8aadf4;
@define-color accent_active      #c6a0f6;
@define-color urgent             #ed8796;
