@define-color foreground        #d3c6aa;
@define-color background        #323d43;

@define-color color0            #323d43;
@define-color color1            #3a454a;
@define-color color2            #434f55;
@define-color color3            #4b565c;
@define-color color4            #525c62;

@define-color color5            #7a8478;
@define-color color6            #7fbbb3;
@define-color color7            #d699b6;
@define-color color8            #2b3339;

@define-color accent            #7fbbb3;
@define-color accent_active     #d699b6;
@define-color urgent            #e67e80;
