@define-color foreground        #cdd6f4;
@define-color background        #1e1e2e;

@define-color color0            #1e1e2e;
@define-color color1            #313244;
@define-color color2            #45475a;
@define-color color3            #585b70;
@define-color color4            #89b4fa;

@define-color color5            #585b70;
@define-color color6            #89b4fa;
@define-color color7            #cba6f7;
@define-color color8            #45475a;

@define-color accent             #89b4fa;
@define-color accent_active      #cba6f7;
@define-color urgent             #f38ba8;
