@define-color background-color #eff1f5;
@define-color border-color     #bcc0cc;

@define-color label            #4c4f69;
@define-color image            #40a02b;

@define-color progress         #179299;
