@define-color bg        #2e3440;
@define-color bg_alt    #3b4252;
@define-color bg_module #434c5e;
@define-color bg_hover  #4c566a;
@define-color bg_active #5e81ac;

@define-color fg        #d8dee9;
@define-color fg_dim    #4c566a;
@define-color fg_muted  #434c5e;

@define-color red       #bf616a;
@define-color green     #a3be8c;
@define-color blue      #81a1c1;
@define-color nord_blue #81a1c1;
@define-color bisque    #ebcb8b;
@define-color teal      #88c0d0;
@define-color yellow    #ebcb8b;
@define-color orange    #d08770;
@define-color purple    #b48ead;
